<div class="workspace">
  <div class="workspace__scrollbar" *ngIf="isLoaded">
    <div class="card">
      <mat-tab-group dynamicHeight [@.disabled]="true">
        <mat-tab label="По ключевым словам">
          <div class="form">
            <form [formGroup]="searchKeyForm" (ngSubmit)="onSubmit()">
              <mat-form-field>
                <mat-label>Тип поиска *</mat-label>
                <mat-select formControlName="textType">
                  <mat-option *ngFor="let type of textTypes" [value]="type">{{type.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Ключевые слова</mat-label>
                <label>
                  <input matInput placeholder="Введите ключевые слова" formControlName="input" required>
                </label>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Язык</mat-label>
                <mat-select formControlName="language">
                  <mat-option [value]="selectedDefault">Выберите язык</mat-option>
                  <mat-option *ngFor="let item of languageDict" [value]="item">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Год</mat-label>
                <mat-select formControlName="years">
                  <mat-option [value]="selectedDefault">Выберите год</mat-option>
                  <mat-option *ngFor="let item of yearsDict" [value]="item">{{item.id}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Категория</mat-label>
                <mat-select formControlName="classifications">
                  <mat-option [value]="selectedDefault">Выберите категорию</mat-option>
                  <mat-option *ngFor="let c of classifications$" [value]="c">{{c.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Выберите судебный орган</mat-label>
                <input type="text" placeholder="Выберите судебный орган" aria-label="Number" matInput
                       formControlName="courts"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option [value]="selectedDefault">Выберите судебный орган</mat-option>
                  <mat-option *ngFor="let court of courts | async" [value]="court">{{court.name}}</mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Выберите судью</mat-label>
                <input type="text" placeholder="Выберите судью" aria-label="Number" matInput
                       formControlName="judges"
                       [matAutocomplete]="auto1">
                <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFn">
                  <mat-option [value]="selectedDefault">Выберите ФИО судьи</mat-option>
                  <mat-option *ngFor="let judge of judges | async" [value]="judge">{{judge.name}}</mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Результат рассмотрения</mat-label>
                <mat-select formControlName="results">
                  <mat-option [value]="selectedDefault">Выберите результат рассмотрения</mat-option>
                  <mat-option *ngFor="let result of results$" [value]="result">{{result.name}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Дата начала</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="start_date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Дата завершения</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="end_date">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
              <mat-checkbox [(ngModel)]="checkBox" [ngModelOptions]="{standalone: true}" (change)="changeCB()">
                Поиск по синонимам
              </mat-checkbox>
              <div *ngIf="synonyms.length > 0" style="margin: 15px 0">
                <h3>Поиск так же будет проводиться по следующим словам:</h3>
                <div *ngFor="let s of synonyms; let i = index;">{{i+1}}. {{s}}</div>
              </div>
              <button type="submit" color="primary" mat-flat-button>Поиск</button>
              <button (click)="onReset()" mat-stroked-button>Сбросить</button>
            </form>
          </div>
        </mat-tab>
        <mat-tab label="Интеллектуальный поиск">
          <div class="form">
            <form [formGroup]="searchIntellectualForm" (ngSubmit)="onSubmitIntellectual()">
              <mat-form-field appearance="fill">
                <mat-label>Введите описание судебного дела</mat-label>
                <label>
                  <textarea rows="15" formControlName="textarea" matInput required></textarea>
                </label>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Дата начала</mat-label>
                <input matInput [matDatepicker]="picker3" formControlName="start_date">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Дата завершения</mat-label>
                <input matInput [matDatepicker]="picker4" formControlName="end_date">
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4></mat-datepicker>
              </mat-form-field>
              <button type="submit" color="primary" mat-flat-button>Поиск</button>
            </form>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
